.header .site-title{
    font-size: 44px;
    font-size: 10vw;
    letter-spacing: 0;
    font-weight: 100;
    color: black;
    
    line-height: 1;
    padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
}